{% extends 'layouts/layout-nhsuk-two-columns-right.html' %}

{% block pageTitle %}
  NDOP document
{% endblock %}

{% block content_page_heading %}
  <h1>
    <span role="text">NDOP document<span class="nhsuk-caption-xl nhsuk-caption--bottom"><span class="nhsuk-u-visually-hidden"> -</span> Component</span></span>
  </h1>
{% endblock %}

{% block content_two_thirds %}

<h2 id="set-a-choice-by-post" class="h3">Make your choice by post</h2>

<p>
  If you are unable to use the online or telephone service, you can use a paper print-and-post form to set a choice instead.
</p>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
    <a class="ndop-download__link" href="https://assets.nhs.uk/prod/documents/Manage_your_choice_1.1.pdf">
      <img class="ndop-download__thumbnail" height="150" alt="Download set a choice by print and post form" src="https://assets.nhs.uk/prod/images/Manage_your_choice_THUMBNAIL.height-300.png">
    </a>
  </div>
  <div class="nhsuk-grid-column-three-quarters nhsuk-u-two-thirds-tablet">
    <ul class="nhsuk-list">
      <li><a href="https://assets.nhs.uk/prod/documents/Manage_your_choice_1.1.pdf">Manage a choice by post form</a></li>
      <li>Published: 22/03/2019</li>
      <li>Last updated: 22/03/2019</li>
    </ul>
  </div>
</div>

<p><a href="https://your-data-matters.service.nhs.uk/privacynotice " target="_blank">How your data will be processed to register and apply your opt-out<span class="util-visuallyhidden"> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>.</p>


{% endblock %}

{% block content_one_third %}

{% endblock %}
