{% extends 'layouts/layout-nhsuk-two-columns-right.html' %}

{% block pageTitle %}
  Pain scale
{% endblock %}

{% block content_page_heading %}
  <h1>
    <span role="text">Pain scale<span class="nhsuk-caption-xl nhsuk-caption--bottom"><span class="nhsuk-u-visually-hidden"> -</span> Component</span></span>
  </h1>
{% endblock %}

{% block content_two_thirds %}

<div class="nhsuk-care-card nhsuk-care-card--non-urgent">
  <div class="nhsuk-care-card__heading-container">
    <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>Speak to a GP if:</span></h3>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">

  <ul>
    <li>the pain is severe or stopping you doing normal activities</li>
    <li>the pain is getting worse or keeps coming back</li>
    <li>the pain has not improved after treating it at home for 2 weeks</li>
    <li>you have any tingling or loss of sensation in your foot</li>
    <li>you have diabetes – foot problems can be more serious if you have diabetes</li>
  </ul>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
           What we mean by severe pain
        </span>
      </summary>
      <div class="nhsuk-details__text">

        <dl class="nhsuk-summary-list">
  
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Severe pain:
            </dt>
            <dd class="nhsuk-summary-list__value">
              <ul>
                <li>always there and so bad it’s hard to think or talk</li>
                <li>you can’t sleep</li>
                <li>it’s very hard to move, get out of bed, go to the bathroom, wash or dress</li>
              </ul>
            </dd>
            
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Moderate pain:
            </dt>
            <dd class="nhsuk-summary-list__value">
              <ul>
                <li>always there</li>
                <li>makes it hard to concentrate or sleep</li>
                <li>you can manage to get up, wash or dress</li>
              </ul>
            </dd>
            
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Mild pain:
            </dt>
            <dd class="nhsuk-summary-list__value">
              <ul>
                <li>comes and goes</li>
                <li>is annoying but doesn’t stop you doing things like going to work</li>
              </ul>
            </dd>
            
          </div>
        
      </dl>
      </div>

      </div>
    </details>

    <div class="nhsuk-care-card nhsuk-care-card--immediate">
  <div class="nhsuk-care-card__heading-container">
    <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 if you have sudden chest pain that:</span></h3>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">

  <ul>
    <li>have severe pain</li>
    <li>feel faint, dizzy or sick from the pain</li>
    <li>have an ankle or foot that has changed shape or is at an odd angle</li>
    <li>heard a snap, grinding or popping noise at the time of injury</li>
    <li><p>are not able to walk</p>

    <p>These might be signs of a broken ankle.</p></li>
    </ul>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
           What we mean by severe pain
        </span>
      </summary>
      <div class="nhsuk-details__text">

        <dl class="nhsuk-summary-list">
  
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Severe pain:
            </dt>
            <dd class="nhsuk-summary-list__value">
              <ul>
                <li>always there and so bad it’s hard to think or talk</li>
                <li>you can’t sleep</li>
                <li>it’s very hard to move, get out of bed, go to the bathroom, wash or dress</li>
              </ul>
            </dd>
            
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Moderate pain:
            </dt>
            <dd class="nhsuk-summary-list__value">
              <ul>
                <li>always there</li>
                <li>makes it hard to concentrate or sleep</li>
                <li>you can manage to get up, wash or dress</li>
              </ul>
            </dd>
            
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Mild pain:
            </dt>
            <dd class="nhsuk-summary-list__value">
              <ul>
                <li>comes and goes</li>
                <li>is annoying but doesn’t stop you doing things like going to work</li>
              </ul>
            </dd>
            
          </div>
        
      </dl>
      </div>

      </div>
    </details>

  </div>
</div>


{% endblock %}

{% block content_one_third %}

{% endblock %}
