// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

// Used to highlight the sections of the page
.layout-example {
  background: rgba(255,255,255,0.8);
  border: 1px dashed $color_nhsuk-grey-3;
  padding: nhsuk-spacing(4);
}

// NEW STYLES TO REPLACE LEGACY WAGTAIL CSS
// POTENTIALLY ADD TO THE FRONTEND

// nhsuk-list variant with a border
.nhsuk-list--border {
  li {
    @include top-and-bottom;

    border-bottom: 1px solid $color_nhsuk-grey-4;
    padding: nhsuk-spacing(2) nhsuk-spacing(0) nhsuk-spacing(3);

    &:first-of-type {
      @include mq($until: tablet) {
        border-top: 1px solid $color_nhsuk-grey-4;
        padding-top: nhsuk-spacing(3);
      }
    }
  }
}

// H1 margin
.nhsuk-heading-xl, h1 {
  @include nhsuk-responsive-margin(5, 'bottom', important);
}

// Utility class for changing text colour
.nhsuk-u-secondary-text-color {
  color: $nhsuk-secondary-text-color !important;
}
