// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

// Wagtail components
@import 'components/video';
@import 'components/guide';

//Homepage specific styles
@import 'components/homepage';

// Used to highlight the sections of the page
.layout-example {
  border: 1px dashed $color_nhsuk-grey-3;
  margin-bottom: nhsuk-spacing(5);
  padding: nhsuk-spacing(4);

  .nhsuk-lede-text {
    margin-bottom: 0;
  }
}

// Medicines contents list
.medicines-page-contents {
  @include nhsuk-responsive-margin(7, 'bottom');

  ol {
    margin-bottom: 0;
  }
}

.medicines-page-contents__title {
  @include nhsuk-responsive-margin(3, 'bottom');

  font-weight: $nhsuk-font-bold;
}

// Wagtail specific h2 section spacing
// Because the p + h2 styling gets ignored because of the section
section + section h2 {
  padding-top: nhsuk-spacing(3);
}

// NEW STYLES TO REPLACE LEGACY WAGTAIL CSS
// POTENTIALLY ADD TO THE FRONTEND

// nhsuk-list variant with a border
// to replace wagtail specific css
.nhsuk-list--border {
  li {
    @include top-and-bottom;

    border-bottom: 1px solid $color_nhsuk-grey-4;
    padding: nhsuk-spacing(2) nhsuk-spacing(0) nhsuk-spacing(3);

    &:first-of-type {
      padding: nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(3);

      @include mq($until: desktop) {
        border-top: 1px solid $color_nhsuk-grey-4;
        padding-top: nhsuk-spacing(3);
      }
    }
  }
}

// Utility class for changing text colour
.nhsuk-u-secondary-text-color {
  color: $nhsuk-secondary-text-color !important;
}

// Lede text styling
// Because the styling is not consistent across the site for lede text
.nhsuk-lede-text {
  @include nhsuk-font(24);
  @include nhsuk-responsive-margin(7, 'bottom');
}

.nhsuk-lede-text--small {
  @include nhsuk-font(19);
  @include nhsuk-responsive-margin(5, 'bottom');
}

// Reduces the spacing between the page heading and the lede text
h1 + .nhsuk-lede-text,
h1 + .nhsuk-lede-text--small {
  margin-top: - nhsuk-spacing(4);
}

// Apply lede text styling to p and ul within the lede (see foot pain hub)
.nhsuk-lede-text {
  p,
  ul {
    @include nhsuk-font(24);
  }
}

// Variant for a promo with a transparent background
.nhsuk-promo--mute {
  .nhsuk-promo__link-wrapper {
    background-color: transparent;
    box-shadow: none;

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: none;
      outline: nhsuk-spacing(1) solid $nhsuk-focus-color;
      outline-offset: nhsuk-spacing(1) + nhsuk-spacing(2);
    }

    .nhsuk-promo__content {
        padding: nhsuk-spacing(0);
    }
  }
}

// Default image styling
img {
  max-width: 100%;
}

// Care card immediate - text colour
.nhsuk-care-card--immediate {

  .nhsuk-details,
  .nhsuk-details__summary {
    color: $color_nhsuk-white;
  }

  .nhsuk-details__summary {
    &:hover,
    &:focus {
      color: $color_nhsuk-black;
    }
  }

}

// Ndop document link image
.ndop-download__link {
  @include nhsuk-responsive-margin(4, 'bottom');

  display:inline-block;
}

.ndop-download__thumbnail {
  display: block;
  margin: 0 auto;
}
