// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

// Used to highlight the sections of the page
.layout-example {
  background: rgba(255,255,255,0.8);
  border: 1px dashed $color_nhsuk-grey-3;
  padding: nhsuk-spacing(4);
}

// Wagtail specific h2 section spacing
// Because the p + h2 styling gets ignored because of the section
section + section h2 {
  padding-top: nhsuk-spacing(3);
}

// NEW STYLES TO REPLACE LEGACY WAGTAIL CSS
// POTENTIALLY ADD TO THE FRONTEND

// nhsuk-list variant with a border
// to replace wagtail specific css
.nhsuk-list--border {
  li {
    @include top-and-bottom;

    border-bottom: 1px solid $color_nhsuk-grey-4;
    padding: nhsuk-spacing(2) nhsuk-spacing(0) nhsuk-spacing(3);

    &:first-of-type {
      padding: nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(3);

      @include mq($until: desktop) {
        border-top: 1px solid $color_nhsuk-grey-4;
        padding-top: nhsuk-spacing(3);
      }
    }
  }
}

// Utility class for changing text colour
.nhsuk-u-secondary-text-color {
  color: $nhsuk-secondary-text-color !important;
}

// Lede text styling
// Because the styling is not consistent across the site for lede text
.nhsuk-lede-text {
  @include nhsuk-font(24);
  @include nhsuk-responsive-margin(7, 'bottom');
}

.nhsuk-lede-text--small {
  @include nhsuk-font(19);
  @include nhsuk-responsive-margin(5, 'bottom');
}

// Reduces the spacing between the page heading and the lede text
h1 + .nhsuk-lede-text,
h1 + .nhsuk-lede-text--small {
  margin-top: - nhsuk-spacing(4);
}
