{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  CHQ_Topic_Page__desktop
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/pages/common_health_questions/CHQ_Section_HomePage__desktop",
    text: "Common health questions"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1>
          Pregnancy
        </h1>

        <ul>
            
                <li><a href="/pages/common_health_questions/CHQ_Topic_Page__desktop">What is preconception care?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/how-can-i-increase-my-chances-of-getting-pregnant/">How can I increase my chances of getting pregnant?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/how-long-does-it-usually-take-to-get-pregnant/">How long does it usually take to get pregnant?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/when-am-i-most-fertile-during-my-cycle/">When am I most fertile during my cycle?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-get-pregnant-if-i-have-sex-without-penetration/">Can I get pregnant if I have sex without penetration?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-get-pregnant-just-after-my-period-has-finished/">Can I get pregnant just after my period has finished?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/am-i-pregnant/">Am I pregnant?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/how-soon-can-i-do-a-pregnancy-test/">How soon can I do a pregnancy test?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/how-accurate-are-home-pregnancy-tests/">How accurate are home pregnancy tests?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/why-do-i-need-folic-acid-in-pregnancy/">Why do I need folic acid in pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-take-cod-liver-oil-supplements-when-i-am-pregnant/">Can I take cod liver oil supplements when I'm pregnant?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-is-the-amniotic-sac/">What is the amniotic sac?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-is-the-umbilical-cord/">What is the umbilical cord?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-is-the-placenta/">What is the placenta?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-find-out-the-sex-of-my-baby/">Can I find out the sex of my baby?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/do-twins-run-in-families/">Do twins run in families?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-thrush-harm-my-baby-during-pregnancy/">Can thrush harm my baby during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/how-much-weight-will-i-put-on-during-my-pregnancy/">How much weight will I put on during my pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/is-it-safe-to-use-hair-dye-when-i-am-pregnant-or-breastfeeding/">Is it safe to use hair dye when I'm pregnant or breastfeeding?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/are-sunbeds-safe-to-use-during-pregnancy/">Are sunbeds safe to use during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/is-it-safe-to-use-a-sauna-or-jacuzzi-if-i-am-pregnant/">Is it safe to use a sauna or jacuzzi if I'm pregnant?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/is-it-safe-to-use-fake-tan-during-pregnancy/">Is it safe to use fake tan during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-paint-fumes-affect-my-unborn-baby/">Can paint fumes affect my unborn baby?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/should-i-limit-caffeine-during-pregnancy/">Should I limit caffeine during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/how-can-i-avoid-food-poisoning-during-pregnancy/">How can I avoid food poisoning during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/why-can-i-not-eat-soft-cheeses-during-pregnancy/">Why can't I eat soft cheeses during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/is-it-safe-to-eat-goats-cheese-during-pregnancy/">Is it safe to eat goats' cheese during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-eat-cooked-brie-and-blue-cheese-during-pregnancy/">Can I eat cooked brie and blue cheese during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/are-hard-cheeses-safe-to-eat-during-pregnancy/">Are hard cheeses safe to eat during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/should-pregnant-and-breastfeeding-women-avoid-some-types-of-fish/">Should pregnant and breastfeeding women avoid some types of fish?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-eat-shellfish-during-pregnancy/">Can I eat shellfish during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/is-it-safe-to-eat-sushi-during-pregnancy/">Is it safe to eat sushi during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-eat-soya-products-during-pregnancy/">Can I eat soya products during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-take-paracetamol-when-i-am-pregnant/">Can I take paracetamol when I'm pregnant?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/is-it-safe-to-breastfeed-if-i-have-diarrhoea-and-vomiting/">Is it safe to breastfeed if I have diarrhoea and vomiting?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-take-ibuprofen-when-i-am-pregnant/">Can I take ibuprofen when I'm pregnant?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-take-hay-fever-medicine-during-pregnancy/">Can I take hay fever medicine during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-have-vaccinations-if-i-am-pregnant/">Can I have vaccinations if I'm pregnant?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-have-travel-vaccinations-during-pregnancy/">Can I have travel vaccinations during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-take-anti-malaria-medication-if-i-am-pregnant/">Can I take anti-malaria medication if I'm pregnant?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/is-it-safe-to-fly-while-pregnant/">Is it safe to fly while pregnant?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/why-are-pregnant-women-at-higher-risk-of-flu-complications/">Why are pregnant women at higher risk of flu complications?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-are-the-risks-of-chickenpox-during-pregnancy/">What are the risks of chickenpox during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-if-i-am-pregnant-and-i-have-not-had-chickenpox/">What if I'm pregnant and I haven't had chickenpox?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/how-is-chickenpox-treated-during-pregnancy/">How is chickenpox treated during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-should-i-do-if-pregnant-and-been-near-someone-with-chickenpox/">What should I do if I'm pregnant and I've been near someone with chickenpox?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-are-the-risks-of-shingles-during-pregnancy/">What are the risks of shingles during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-are-the-risks-of-scarlet-fever-during-pregnancy/">What are the risks of scarlet fever during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-are-the-risks-of-slapped-cheek-syndrome-during-pregnancy/">What are the risks of slapped cheek syndrome during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-are-the-risks-of-toxoplasmosis-during-pregnancy/">What are the risks of toxoplasmosis during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-are-the-risks-of-mrsa-during-pregnancy/">What are the risks of MRSA during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-are-the-risks-of-group-b-streptococcus-infection-during-pregnancy/">What are the risks of group B streptococcus (GBS) infection during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/is-my-unborn-baby-at-risk-of-early-onset-group-b-streptococcus-infection/">Is my unborn baby at risk of early-onset group B streptococcus (GBS) infection?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/are-complementary-therapies-safe-during-pregnancy/">Are complementary therapies safe during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-have-an-x-ray-if-i-am-pregnant/">Can I have an X-ray if I'm pregnant?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-i-have-a-cervical-screening-test-during-pregnancy/">Can I have a cervical screening test during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/what-complications-can-affect-the-placenta/">What complications can affect the placenta?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/why-should-i-not-change-cat-litter-during-pregnancy/">Why shouldn't I change cat litter during pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/why-should-pregnant-women-avoid-sheep-during-the-lambing-season/">Why should pregnant women avoid sheep during the lambing season?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/can-hiv-be-passed-to-an-unborn-baby-in-pregnancy-or-through-breastfeeding/">Can HIV be passed to an unborn baby in pregnancy or through breastfeeding?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/are-pregnant-women-entitled-to-free-nhs-prescriptions/">Are pregnant women entitled to free NHS prescriptions?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/are-pregnant-women-entitled-to-free-nhs-dental-treatment/">Are pregnant women entitled to free NHS dental treatment?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/when-will-my-periods-start-again-after-pregnancy/">When will my periods start again after pregnancy?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/how-soon-can-i-use-tampons-after-giving-birth/">How soon can I use tampons after giving birth?</a></li>
            
                <li><a href="/common-health-questions/pregnancy/when-will-my-periods-return-after-a-miscarriage/">When will my periods return after a miscarriage?</a></li>
            
        </ul>

    </div>  

  </div>
{% endblock %}
