{% extends 'layouts/layout-nhsuk-full-width.html' %}

{% block pageTitle %}
  guides_index
{% endblock %}

{% block content_page_heading %}
  <h1>Social care and support guide</h1>

  <p class="nhsuk-lede-text">If you or someone you know needs help with day-to-day living because of illness or disability, this website explains your options and where you can get support.</p>
{% endblock %}

{% block content_full_width %}

<div class="nhsuk-grid-row nhsuk-promo-group">

  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/pages/guides/guides_article">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Introduction to care and support</h3>
          <p class="nhsuk-promo__description">A quick guide for people who have care and support needs and their carers.</p>
        </div>
      </a>
    </div>
  </div>
  
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/pages/guides/guides_article">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Help from social services and charities</h3>
          <p class="nhsuk-promo__description">Includes helplines, needs assessments, advocacy and reporting abuse.</p>
        </div>
      </a>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/pages/guides/guides_article">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Care services, equipment and care homes</h3>
          <p class="nhsuk-promo__description">Includes home adaptations, help at home from a paid carer, staying safe and housing.

</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="nhsuk-grid-row nhsuk-promo-group">

  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/pages/guides/guides_article">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Money, work and benefits</h3>
          <p class="nhsuk-promo__description">How to pay for care and support, and where you can get help with costs.</p>
        </div>
      </a>
    </div>
  </div>
  
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/pages/guides/guides_article">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Care after a hospital stay</h3>
          <p class="nhsuk-promo__description">Includes hospital discharge and care and support afterwards.</p>
        </div>
      </a>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/pages/guides/guides_article">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Support and benefits for carers</h3>
          <p class="nhsuk-promo__description">Includes carer's assessments, support from local councils, respite care and help for young carers.</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="nhsuk-grid-row nhsuk-promo-group">

  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/pages/guides/guides_article">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Practical tips if you care for someone</h3>
          <p class="nhsuk-promo__description">Includes advice on challenging behaviour, moving and lifting people and medicines.</p>
        </div>
      </a>
    </div>
  </div>
  
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/pages/guides/guides_article">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Caring for children and young people</h3>
          <p class="nhsuk-promo__description">Services, support and tips if you care for someone under 21, and moving to adult social services.

</p>
        </div>
      </a>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/pages/guides/guides_article">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Making decisions for someone else</h3>
          <p class="nhsuk-promo__description">Includes powers of attorney and mental capacity.</p>
        </div>
      </a>
    </div>
  </div>

</div>


{% endblock %}

{% block content_one_third %}
{% endblock %}
