// ==========================================================================
// COMPONENTS / #RELATED-NAV
// ==========================================================================

.nhsuk-related-nav {
  border-top: 2px solid $color_nhsuk-blue;

  @include mq($until: desktop) {
    margin-top: nhsuk-spacing(7);
  }
}

.nhsuk-related-nav__heading {
  @include nhsuk-typography-responsive(24, $override-line-height: 1.2);

  margin-bottom: nhsuk-spacing(3);
  padding-top: nhsuk-spacing(3);
}

.nhsuk-related-nav__list {
  list-style: none;
  padding-left: nhsuk-spacing(0);
}
