{% extends 'layouts/layout-nhsuk-two-columns-right.html' %}

{% block pageTitle %}
  general_content_article
{% endblock %}

{% block content_page_heading %}
  <h1>
    What is Behind the Headlines?
  </h1>
{% endblock %}

{% block content_two_thirds %}


                <h2 class="site-title">Behind the headlines</h2>

                

                
                    
                        <p>Behind the Headlines provides an unbiased and evidence-based analysis of health stories that make the news.</p>
<p>The service is intended for both the public and health professionals, and endeavours to:</p>
<ul>
<li>explain the facts behind the headlines and give a better understanding of the science that makes the news, </li>
<li>provide an authoritative resource for GPs that they can rely on when talking to patients, and </li>
<li>become a trusted resource for journalists and others involved in the dissemination of health news. </li>
</ul>
<p>Behind the Headlines is the brainchild of Sir Muir Gray, who set up the service in 2007.</p>
<p>"Scientists hate disease and want to see it conquered," said Sir Muir. "But this can lead to them taking an overly optimistic view of their discoveries which is often reflected in newspaper headlines.</p>
<p>"Our service has more time to examine the science behind the stories. Independent experts check the findings and assess the research methods to provide a more considered view.</p>
<p>"In the 21st century knowledge is the key element to improving health. In the same way that people need clean, clear water, they have a right to  clean, clear knowledge."</p>
<p>Sir Muir Gray has worked in public health for 35 years. He helped pioneer Britain's breast and cervical cancer screening programmes and was knighted in 2005 for the development of the foetal, maternal and child screening programme and the creation of the National Library for Health. He is also the founder of the National Knowledge Service.</p>
<h2 id="how-behind-the-headlines-works">How Behind the Headlines works</h2>
<ul>
<li>Each day the NHS Choices team selects health stories that are making headlines. </li>
<li>These, along with the scientific articles behind the stories, are sent to <a href="http://www.bazian.com/">Bazian</a>, a leading provider of evidence-based healthcare information. </li>
<li>Bazian's clinicians and scientists analyse the research and produce impartial evidence-based assessments, which are edited and published by NHS Choices. </li>
</ul>
<p>Read more about the <a href="https://www.nhs.uk/our-policies/the-information-standard/">production process</a>.</p>
<h2 id="behind-the-headlines-services">Behind the Headlines services</h2>
<p>Behind the Headlines aims to respond to news stories the day they appear in the media.</p>
<p>Behind the Headlines is also available in <a href="/NHSChoices/shared/RSSFeedGenerator/RSSFeed.aspx?site=News">RSS format</a> and XML feeds for web publishers wishing to carry the service on their own sites. This is available on the <a href="https://developer.api.nhs.uk">NHS Choices syndication page</a>.</p>

                    
            
{% endblock %}

{% block content_one_third %}

{% endblock %}
