{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  Behind_the_Headlines_Section_HomePage
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-page-heading">

        <h1>
          Behind the Headlines
        </h1>

        <p>Your guide to the science that makes the news.</p>

      </div>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-3">Categories</h2>
      <ul class="nhsuk-u-margin-bottom-6">            
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Cancer</a></li>
          
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Genetics and stem cells</a></li>
          
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Food and diet</a></li>
          
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Obesity</a></li>
          
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Neurology</a></li>
          
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Lifestyle and exercise</a></li>
          
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Older people</a></li>
          
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Heart and lungs</a></li>
          
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Medication</a></li>
          
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Pregnancy and child</a></li>
          
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Mental health</a></li>
          
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Medical practice</a></li>
          
          <li><a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Diabetes</a></li>   
      </ul>
    </div>

    <div class="nhsuk-grid-column-two-thirds">

      <ul class="nhsuk-list nhsuk-list--border">                
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Vegan diet 'helps people better manage type 2 diabetes'</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Wednesday  October  31  2018
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">No proof walnuts prevent diabetes</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Monday  July  2  2018
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Your toothpaste probably won't give you type 2 diabetes</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Friday  June  22  2018
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Type 1 diabetes 'stabilises' after 7 years</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Monday  June  11  2018
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Are there actually 5 types of diabetes?</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Friday  March  2  2018
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Going vegan may help prevent diabetes in overweight people</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Thursday  February  15  2018
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Weight management may reduce the need for type 2 diabetes medication</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Friday  January  12  2018
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">'Radical' low-calorie diet may help reverse type 2 diabetes</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Wednesday  December  6  2017
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Some type 1 diabetes cases in adults misdiagnosed as type 2</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Friday  December  1  2017
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Workplace bullying and violence 'risk factors' for type 2 diabetes</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Tuesday  November  14  2017
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Vitamin D may help reduce type 1 diabetes risk in susceptible children</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Wednesday  October  25  2017
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">People with type 2 diabetes should 'save carbs for last', study claims</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Monday  October  2  2017
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">'More people need to know type 2 diabetes is reversible' argues report</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Thursday  September  14  2017
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Reports that frequent drinking prevents diabetes are inaccurate</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Friday  July  28  2017
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Children's screen time linked to diabetes risk factors</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Tuesday  March  14  2017
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Fasting diet may help regenerate a diabetic pancreas</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Friday  February  24  2017
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Claim high-fat diets can prevent diabetes 'unproven'</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Monday  December  12  2016
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Fat storage problems may increase diabetes risk </a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Thursday  November  17  2016
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Sweetened drinks, including diet drinks, may raise diabetes risk </a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Friday  October  21  2016
            </p>
        </li>
    
        <li>
            <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">A 10-minute walk after a meal 'good for diabetes'</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">
            Tuesday  October  18  2016
            </p>
        </li>

      </ul>

      {{ pagination({
        "previousUrl": "/pages/behind_the_headlines/Behind_the_Headlines_Section_HomePage",
        "previousPage": "Page 1 of 84",
        "nextUrl": "#",
        "nextPage": "Page 3 of 84"
      }) }}


    </div>  

  </div>
{% endblock %}
