{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  Behind_the_Headlines_Page
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/pages/behind_the_headlines/Behind_the_Headlines_Section_HomePage",
        text: "Behind the Headlines"
      }
    ],
    href: "/pages/behind_the_headlines/Behind_the_Headlines_Category_Page",
    text: "Diabetes"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>
           Vegan diet 'helps people better manage type 2 diabetes'
        </h1>

        <p class="nhsuk-body-s nhsuk-u-secondary-text-color">31 October 2018</p>

        <p>Going vegan "can 'significantly improve' mental health, reduce diabetes and lower weight," reports the Daily Mirror. </p>
        <p>Researchers summarised the results of 11 studies which looked at the effects of a plant-based diet on adults with type 2 diabetes.</p>
        <p>The researchers said they found evidence of improved mental wellbeing, quality of life, diabetes control and weight loss. However, the studies included in their review were quite small, with only 433 participants in total. This casts doubt on the strength of the evidence. Only 3 of the included studies looked at mental health or quality of life.</p>
        <p>Vegan or plant-based diets are becoming more popular. While vegans exclude all animal products from their diet, including dairy products and eggs, the researchers defined a plant-based diet as one where 10% or less of daily calories came from animal products. It's likely that most plant-based diets are lower in calories than diets that include meat or high-fat dairy products, which could account for the reported weight loss and improved diabetes control.  </p>
        <p>A healthy diet is likely to improve diabetes control, but this study does not show convincingly that a vegan diet is superior to other healthy diets for people with diabetes. And you don't have to go vegan to improve the quality of your diet. </p>
        <p>Find out more about <a href="/conditions/type-2-diabetes/food-and-keeping-active/">healthy eating and type 2 diabetes</a>.</p>
        <h2 id="where-did-the-story-come-from">Where did the story come from?</h2>
        <p>The researchers who carried out the review were from the University of London, the University of Northampton and East Sussex NHS Healthcare Trust. The review was published in the <a href="/news/health-news-glossary#peer-review">peer-reviewed</a> medical journal BMJ Open Diabetes Research and Care, which is <a href="https://drc.bmj.com/content/6/1/e000534" title="External website">free to read online</a>.</p>
        <p>The Independent, The Times, the Daily Mirror and the Mail Online all reported the results enthusiastically, without much criticism of the weight of the evidence. </p>
        <h2 id="what-kind-of-research-was-this">What kind of research was this?</h2>
        <p>This was a <a href="/news/health-news-glossary#systematic-review">systematic review</a> of controlled trials of plant-based diets for adults with type 2 diabetes. The researchers wanted to summarise the effects of this type of diet on the wellbeing of these patients. </p>
        <p>A systematic review is a good way to get an overview of the state of research on any topic. However, the results are only as good as the previously published studies on the subject. </p>
        <h2 id="what-did-the-research-involve">What did the research involve?</h2>
        <p>Researchers looked for controlled trials of plant-based diets which included adults with type 2 diabetes. Only trials that lasted at least 3 weeks and reported health outcomes were included. The individual studies included control groups who either followed a non-plant-based healthy diet or who continued to follow their usual diet.</p>
        <p>Where possible, the researchers extracted data on 18 outcomes, including quality of life, depression, dietary adherence and acceptability, HbA1c (a measure of diabetes control based on blood sugar levels), weight, cholesterol measures and use of diabetes medicine. </p>
        <p>The researchers report that because the identified studies used diverse methods of assessing psychological wellbeing, it wasn't possible to pool the results in <a href="/news/health-news-glossary#meta-analysis">meta-analysis</a>. Similarly they considered that for all other outcomes, the studies were too small and the pooled result was likely to be imprecise. Instead, they described the results reported from each individual study. </p>
        <h2 id="what-were-the-basic-results">What were the basic results?</h2>
        <p>The researchers found:</p>
        <ul>
        <li>In 3 studies including 117 adults with diabetes which reported quality of life outcomes, quality of life improved in the plant-based diet groups but not in the control groups. Of these 3 studies, 1 specifically reported improvements in a psychological measure of quality of life, 1 reported decreased depression levels, and the other decreased pain symptoms (leading to the researchers' conclusions on psychological health).</li>
        <li>In 8 studies including 405 adults with diabetes, diabetes control measured by HbA1c was better in the plant-based diet groups than in the control groups (average HbA1c decrease 0.55% in plant-based group compared to 0.19% in control group). In another study, HbA1c was no different between groups, and 1 other study did not report levels for patients with diabetes only.</li>
        <li>In 5 of 6 studies including 312 adults with diabetes which reported weight outcomes, people in the plant-based groups lost more weight than people in the control groups (average 5.23kg compared to 2.83kg). In the other study, weight loss was the same in both groups.</li>
        </ul>
        <h2 id="how-did-the-researchers-interpret-the-results">How did the researchers interpret the results?</h2>
        <p>The researchers said: "it can be concluded that plant-based diets accompanied by educational interventions can significantly improve psychological health, quality of life, HbA1c levels and weight and therefore the management of diabetes."</p>
        <h2 id="conclusion">Conclusion</h2>
        <p>Eating a healthy diet can help people with type 2 diabetes to manage their condition and avoid complications. This review of the evidence around plant-based diets supports this conclusion. However, it has too many limitations to tell us for sure that a vegan diet, specifically, is the best diet for people with diabetes.</p>
        <p>We don't know enough about the interventions or control groups in the individual studies included in the review, so we can't see from this review exactly what was being compared with what. </p>
        <p>For example, if the plant-based diets were lower in calories than the control group diets, it's not surprising people lost more weight on the plant-based diet.</p>
        <p>The review says that people in the intervention groups were given regular dietary advice and support by highly qualified healthcare professionals. We don't know if that's the case for people in the control groups. </p>
        <p>There was a mix of evidence on psychological health from only 3 small studies so we can't be sure that the diets had an effect. But if again if they did, it's perhaps not that surprising people in the intervention groups may have felt happier if they lost more weight and were given more support to do so.</p>
        <p>Overall, the small total numbers of people in these studies – which likely had highly variable methods, interventions, control diets and outcome assessment – suggests that too little research has been done into plant-based diets to draw firm conclusions about their effects.</p>
        <p>A healthy diet includes lots of fresh vegetables, pulses, fruits and wholegrains. A plant-based diet needs to include plenty of these types of food, rather than relying on refined plant-based carbohydrates such as sugar and white flour, to be truly healthy.</p>
        <p>Find out more about <a href="/live-well/eat-well/healthy-eating-vegetarians-vegans/">healthy eating for vegetarians and vegans</a>.</p>
                        
        <p class="nhsuk-body-s nhsuk-u-secondary-text-color">
          Analysis by Bazian<br>
          Edited by NHS Website
        </p>  

        <div class="nhsuk-panel">             
          <h2>Links to the headlines</h2>
            <p class="nhsuk-u-margin-bottom-2"> <a href="https://www.mirror.co.uk/news/uk-news/how-going-vegan-can-significantly-13507554" title="How going vegan can 'significantly improve' mental health, reduce diabetes and lower weight" class="external-link">How going vegan can 'significantly improve' mental health, reduce diabetes and lower weight</a></p>
            <p class="nhsuk-body-s">Daily Mirror, October  30  2018</p>
              
            <p class="nhsuk-u-margin-bottom-2"> <a href="https://www.dailymail.co.uk/health/article-6335559/Vegan-diet-boost-mood-ease-symptoms-Type-2-diabetics-scientists-say.html" title="Vegan diet ‘can boost mood and ease symptoms for those with Type 2 diabetics’, scientists say" class="external-link">Vegan diet ‘can boost mood and ease symptoms for those with Type 2 diabetics’, scientists say</a></p>
              
            <p class="nhsuk-body-s">Mail Online, October  31  2018</p>
              
          
              <p class="nhsuk-u-margin-bottom-2"> <a href="https://www.independent.co.uk/life-style/food-and-drink/vegan-diabetes-diet-british-medical-journal-university-of-nottingham-east-sussex-a8609246.html" title="Why a vegan diet could be the key to managing obesity" class="external-link">Why a vegan diet could be the key to managing obesity</a></p>
              
                  <p class="nhsuk-body-s">The Independent, October  31  2018</p>
              
          
              <p class="nhsuk-u-margin-bottom-2"> <a href="https://metro.co.uk/2018/10/31/going-vegan-may-help-people-manage-diabetes-8091281/" title="Going vegan may help people manage diabetes" class="external-link">Going vegan may help people manage diabetes</a></p>
              
                  <p class="nhsuk-body-s">Metro, October  31  2018</p>
              
          
              <p class="nhsuk-u-margin-bottom-2"> <a href="https://www.thetimes.co.uk/article/veganism-helps-diabetics-lose-weight-and-control-blood-sugar-m8z5zf5qn" title="Veganism helps diabetics lose weight and control blood sugar" class="external-link">Veganism helps diabetics lose weight and control blood sugar</a></p>
              
                  <p class="nhsuk-body-s">The Times (subscription required), October  31  2018</p>
              
          
      
  

  

          <h2>Links to the science</h2>
          
              <p>Toumpanakis A, Turnbull T, Alba-Barba I.
                  <a href="https://drc.bmj.com/content/6/1/e000534" title="Effectiveness of plant-based diets in promoting well-being in the management of type 2 diabetes: a systematic revie" class="external-link">Effectiveness of plant-based diets in promoting well-being in the management of type 2 diabetes: a systematic revie</a>BMJ Open Diabetes Research &amp; Care. Published online October 30 2018</p>
          

  

  
</div>



    </div>
  </div>
{% endblock %}
