{% extends 'layouts/layout-nhsuk-two-columns-right.html' %}

{% block pageTitle %}
  CHQ_Question_Page__desktop
{% endblock %}

{% block content_page_heading %}

  <h1>         
    <span role="text">What is AMD?<span class="nhsuk-caption-xl nhsuk-caption--bottom"><span class="nhsuk-u-visually-hidden"> -</span> Age-related macular degeneration (AMD)</span></span>
  </h1>

  {{ contentsList({
    items: [
      {
        href: "/pages/conditions/Condition_Page__desktop",
        text: "What is AMD?",
        current: "true"
      },
      {
        href: "/pages/conditions/Condition_Page_Section__desktop",
        text: "Symptoms"
      },
      {
        href: "https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/getting-diagnosed/",
        text: "Getting diagnosed"
      }
      ,
      {
        href: "https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/treatment/",
        text: "Treatments"
      }
      ,
      {
        href: "https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/living-with-amd/",
        text: "Living with AMD"
      }
    ]
  }) }}

{% endblock %}

{% block content_two_thirds %}

<section id="">
  
    
      



<p class="nhsuk-lede-text--small">Down's syndrome, also known as Down syndrome or trisomy 21, is a condition you're born with. Most people who have Down's syndrome lead healthy and fulfilled lives.</p>




    
  
</section>

        
          

<section id="characteristics-of-downs-syndrome">
  
    
      



<h2>Characteristics of Down's syndrome</h2>

<p>Everyone born with Down's syndrome will have some level of learning disability, but this will be different for each person.</p>

<p><a href="/conditions/downs-syndrome/characteristics/">Find out more about the characteristics of Down's syndrome</a></p>




    
  
</section>

        
          

<section id="">
  
    
      



<h2>Causes of Down's syndrome</h2>

<p>Down's syndrome is caused by an extra chromosome in a baby's cells.</p>

<p>In most cases, this is not inherited – it's simply the result of a one-off genetic change in the sperm or egg.</p>

<p>There's a small chance of having a child with Down's syndrome with any pregnancy, but the likelihood increases with the age of the mother.</p>

<p>For example, a woman who's 20 has about a 1 in 1,500 chance of having a baby with Down's, while a woman who's 40 has a 1 in 100 chance.</p>

<p>There's no evidence that anything done before or during pregnancy increases or decreases the chance of having a child with Down's syndrome.</p>

<p><a href="/conditions/downs-syndrome/causes/">Find out more about the causes of Down's syndrome</a></p>




    
  
</section>

        
          

<section id="">
  
    
      



<h2>Living with Down's syndrome</h2>

<p>There's support available to help children and adults with Down's syndrome lead healthy, fulfilling lives.</p>

<p>This includes:</p>

<ul>
<li>access to good healthcare&nbsp;–&nbsp;including a range of different specialists </li>
<li>support for your child's development –&nbsp;this may include speech and language therapy and physiotherapy&nbsp; </li>
<li>organisations like the <a href="https://www.downs-syndrome.org.uk/">Down's Syndrome Association</a>, who provide information and support, and can also put you in touch with other families who have a child with Down's syndrome</li>
</ul>

<p>Lots of people with Down's syndrome are able to go to mainstream schools, leave home, have relationships, work and lead largely independent lives.</p>

<p><a href="/conditions/downs-syndrome/living-with/">Find out more about living with Down's syndrome</a></p>




    
  
</section>

        
          

<section id="">
  
    
      



<div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <h3>Social care and support guide</h3>

<p>If you:</p>

<ul>
<li>need help with day-to-day living because of illness or disability</li>
<li>care for someone regularly because they're ill, elderly or disabled, including family members</li>
</ul>

<p>Our <a href="/conditions/social-care-and-support-guide/">guide to care and support</a> explains your options and where you can get support.</p>

</div>



    
  
</section>

        
          

<section id="health-problems-linked-to-downs-syndrome">
  
    
      



<h2>Health conditions associated with  Down's syndrome</h2>

<p>Some health conditions are more common in people with Down's syndrome, including: </p>

<ul>
<li>heart conditions</li>
<li>hearing and vision&nbsp;problems </li>
<li>thyroid conditions</li>
<li>infections, such as pneumonia</li>
</ul>

<p>Your child may be checked by a paediatrician more often to help them stay in good health. &nbsp;</p>

<p>If you have any concerns about your child's health, talk to your GP, health visitor or paediatrician. </p>

<p><a href="/conditions/downs-syndrome/complications/">Find out more about the health conditions asscociated with Down's syndrome</a></p>




    
  
</section>

        
          

<section id="">
  
    
      



<h2>Screening for Down's syndrome</h2>

<p>Sometimes parents find out&nbsp;their baby has Down's syndrome during pregnancy because of screening tests. </p>

<p>All pregnant women are offered screening tests for Down's syndrome.</p>

<p>Screening tests cannot tell you for certain if your baby has Down's syndrome, but they can tell you how likely it is. </p>

<p>If screening tests show there's a chance your baby has Down's syndrome, you can, if you wish, have further tests to find out for certain if your baby has the condition.</p>

<p>These include:</p>

<ul>
<li><a href="/conditions/chorionic-villus-sampling-cvs/">chorionic villus sampling (CVS)</a> – a small sample of the placenta is tested, usually during weeks 11 to 14 of pregnancy </li>
<li><a href="/conditions/amniocentesis/">amniocentesis</a> – a sample of amniotic fluid is tested, usually during weeks 15 to 20 of pregnancy </li>
</ul>

<p>If these tests show that your baby has Down's syndrome, you&nbsp;and your baby's other parent will be offered counselling so you can talk about what this means.</p>

<p>You may also be offered an appointment to meet a doctor or other health professional who works with children with Down's syndrome. </p>

<p>They&nbsp;can tell you more about the condition and answer any questions you have.</p>

<p><a href="/conditions/pregnancy-and-baby/screening-amniocentesis-downs-syndrome/">Find out more about screening for Down's syndrome</a></p>




    
  
</section>

        
          

<section id="">
  
    
      



<h2>More help and support</h2>

<p>If you'd like more information about Down's syndrome, you can visit the <a href="http://www.downs-syndrome.org.uk/" title="External website">Down's Syndrome Association</a> or call their helpline on 0333 121 2300.</p>




    
  
</section>

        
          

<section id="information-about-your-child">
  
    
      



<h2>Information about your child</h2>

<p>If your child has Down's syndrome, your clinical team will pass information about him or her on to the National Congenital Anomaly and Rare Diseases Registration Service (NCARDRS).</p>

<p>This service supports research to help clinicians and people with Down's syndrome. You can opt out of the register at any time.</p>

<p><a href="https://www.gov.uk/government/publications/national-congenital-anomaly-and-rare-disease-registration-service-introductory-leaflet">Find out more about the register</a></p>




    
  
</section>

        

{{ reviewDate({
  "lastReview": "12 February 2017",
  "nextReview": "1 February 2020"
}) }}

{{ pagination({
  "nextUrl": "/pages/conditions/Condition_Page_Section__desktop",
  "nextPage": "Symptoms"
}) }}


{% endblock %}

{% block content_one_third %}
{% endblock %}
