{% extends 'layouts/layout-nhsuk-full-width.html' %}

{% block pageTitle %}
  conditions_curated_hub_page
{% endblock %}

{% block content_page_heading %}
  <h1>Type 1 diabetes</h1>

  <p class="nhsuk-lede-text">This guide is for adults with type 1 diabetes. There's separate information about <a href="/conditions/type-2-diabetes/">type 2 diabetes</a>.</p>
{% endblock %}

{% block content_full_width %}

<div class="nhsuk-grid-row nhsuk-promo-group">
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/pages/conditions/conditions_article_page-diabetes">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Newly diagnosed: things to help</h3>
          <p class="nhsuk-promo__description">Includes how to inject insulin, how to check your blood glucose levels and your check ups and appointments</p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/pages/conditions/conditions_article_page-diabetes">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Get support</h3>
          <p class="nhsuk-promo__description">Includes support groups, social media, helplines and how to get psychological therapy services</p>
        </div>
      </a>
    </div>

  </div>
</div>

<div class="block-links_list_group">

<hr>

  <h2>About type 1 diabetes</h2>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-third">
      <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">What it is</h3>
      <ul class="nhsuk-list">
        <li><a href="/conditions/type-1-diabetes/about-type-1-diabetes/">About type 1 diabetes</a></li>
        <li><a href="/conditions/type-1-diabetes/symptoms-and-getting-diagnosed/">Symptoms and getting diagnosed</a></li>
      </ul>
    </div>

    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Under 18</h3>
        <ul class="nhsuk-list">
        <li><a href="/conditions/type-1-diabetes/type-1-diabetes-in-children/">Type 1 diabetes in children</a></li>
      </ul>
    </div>

  </div>

</div>

<div class="block-links_list_group">

<hr>

    <h2>Managing insulin and blood glucose levels</h2>



  <div class="nhsuk-grid-row">
    
      

<div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Insulin</h3>
    <ul class="nhsuk-list">
        
            <li><a href="/conditions/type-1-diabetes/about-insulin/">About insulin</a></li>
        
            <li><a href="/conditions/type-1-diabetes/when-your-treatment-might-change/">When your treatment might change</a></li>
        
    </ul>
</div>

    
      

<div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Blood glucose levels</h3>
    <ul class="nhsuk-list">
        
            <li><a href="/conditions/type-1-diabetes/hypoglycaemia-hypos/">Hypoglycaemia (hypos)</a></li>
        
            <li><a href="/conditions/type-1-diabetes/hyperglycaemia/">Hyperglycaemia</a></li>
        
            <li><a href="/conditions/type-1-diabetes/what-to-do-when-youre-ill/">What to do when you're ill</a></li>
        
            <li><a href="/conditions/type-1-diabetes/avoiding-complications/">Avoiding complications</a></li>
        
    </ul>
</div>

    
      

<div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Technology</h3>
    <ul class="nhsuk-list">
        
            <li><a href="/conditions/type-1-diabetes/insulin-pumps/">Insulin pumps</a></li>
        
            <li><a href="/conditions/type-1-diabetes/sharing-blood-glucose-data-with-your-team/">Sharing blood glucose data with your team</a></li>
        
            <li><a href="/conditions/type-1-diabetes/continuous-glucose-monitoring-cgms/">Continuous glucose monitoring (CGMs)</a></li>
        
            <li><a href="/conditions/type-1-diabetes/flash-monitoring-freestyle-libre/">Flash monitoring (Freestyle Libre)</a></li>
        
    </ul>
</div>

    
  </div>

  <div class="nhsuk-grid-row">
    
      

<div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Learning to count carbohydrates</h3>
    <ul class="nhsuk-list">
        
            <li><a href="/conditions/type-1-diabetes/counting-carbohydrates/">Counting carbohydrates</a></li>
        
            <li><a href="/conditions/type-1-diabetes/doing-a-type-1-diabetes-course/">Doing a type 1 diabetes course</a></li>
        
    </ul>
</div>

    
  </div>

</div>

<div class="block-links_list_group">

<hr>

    <h2>Living with type 1 diabetes</h2>



  <div class="nhsuk-grid-row">
    
      

<div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Everyday life</h3>
    <ul class="nhsuk-list">
        
            <li><a href="/conditions/type-1-diabetes/alcohol-and-drugs/">Alcohol and drugs</a></li>
        
            <li><a href="/conditions/type-1-diabetes/diabetes-and-travel/">Diabetes and travel</a></li>
        
            <li><a href="/conditions/type-1-diabetes/check-youre-safe-to-drive/">Check you're safe to drive</a></li>
        
            <li><a href="/conditions/type-1-diabetes/exercise-and-sport/">Exercise and sport</a></li>
        
    </ul>
</div>

    
      

<div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Life events</h3>
    <ul class="nhsuk-list">
        
            <li><a href="/conditions/type-1-diabetes/pregnancy-and-giving-birth/">Pregnancy and giving birth</a></li>
        
            <li><a href="/conditions/type-1-diabetes/going-to-university/">Going to university</a></li>
        
    </ul>
</div>

    
      

<div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Support</h3>
    <ul class="nhsuk-list">
        
            <li><a href="/conditions/type-1-diabetes/get-support/">Get support</a></li>
        
    </ul>
</div>

    
  </div>

</div>

{% endblock %}

{% block content_one_third %}
{% endblock %}
