{% extends 'layouts/layout-nhsuk-two-columns-right.html' %}

{% block pageTitle %}
  conditions_article_page
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/pages/conditions/conditions_curated_hub_page-diabetes",
    text: "Type 1 diabetes"
  }) }}
{% endblock %}

{% block content_page_heading %}
  <h1>About type 1 diabetes</h1>
{% endblock %}

{% block content_two_thirds %}
<div class="block-markdown">

<p>Type 1 diabetes causes the level of glucose (sugar) in your blood to become too high.  </p>

<p>It happens when your body can't produce enough of a hormone called insulin, which controls blood glucose. </p>

<p>You need daily injections of insulin to keep your blood glucose levels under control. </p>

<p>Managing type 1 diabetes can take time to get used to, but you can still do all the things you enjoy. This guide is here to help. </p>

<p>Type 1 diabetes isn't linked with age or being overweight – this is <a href="/conditions/type-2-diabetes">type 2 diabetes</a>.</p>

</div>
 {{ reviewDate({
  "lastReview": "12 February 2017",
  "nextReview": "1 February 2020"
}) }}


{% endblock %}

{% block content_one_third %}

<div class="nhsuk-related-nav">

  <h2 class="nhsuk-related-nav__heading">
    Type 1 diabetes
  </h2>

  <nav role="navigation" class="nhsuk-related-nav__nav-section">

    <h3 class="nhsuk-related-nav__sub-heading">What it is</h3>

    <ul class="nhsuk-related-nav__list nhsuk-related-nav__list--sub">

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Symptoms and getting diagnosed</a></li>

    </ul>

    <h3 class="nhsuk-related-nav__sub-heading">Under 18</h3>

    <ul class="nhsuk-related-nav__list nhsuk-related-nav__list--sub">

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Type 1 diabetes in children</a></li>

    </ul>

    <h3 class="nhsuk-related-nav__sub-heading">Insulin</h3>

    <ul class="nhsuk-related-nav__list nhsuk-related-nav__list--sub">

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">About insulin</a></li>

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">When your treatment might change</a></li>

    </ul>

    <h3 class="nhsuk-related-nav__sub-heading">Blood glucose levels</h3>

    <ul class="nhsuk-related-nav__list">

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Hypoglycaemia (hypos)</a></li>

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Hyperglycaemia</a></li>

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">What to do when you're ill</a></li>

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Avoiding complications</a></li>


    </ul>

    <h3 class="nhsuk-related-nav__sub-heading">Technology</h3>

    <ul class="nhsuk-related-nav__list">

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Insulin pumps</a></li>

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Sharing blood glucose data with your team</a></li>

        <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Continuous glucose monitoring (CGMs)</a></li>

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Flash monitoring (Freestyle Libre)</a></li>

    </ul>

    <h3 class="nhsuk-related-nav__sub-heading">Learning to count carbohydrates</h3>

    <ul class="nhsuk-related-nav__list">

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Counting carbohydrates</a></li>

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Doing a type 1 diabetes course</a></li>

    </ul>

    <h3 class="nhsuk-related-nav__sub-heading">Everyday life</h3>

    <ul class="nhsuk-related-nav__list">

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Alcohol and drugs</a></li>

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Diabetes and travel</a></li>

        <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Check you're safe to drive</a></li>

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Exercise and sport</a></li>

    </ul>

    <h3 class="nhsuk-related-nav__sub-heading">Life events</h3>

    <ul class="nhsuk-related-nav__list">

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Pregnancy and giving birth</a></li>

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Going to university</a></li>

    </ul>

    <h3 class="nhsuk-related-nav__sub-heading">Support</h3>

    <ul class="nhsuk-related-nav__list">

      <li class="nhsuk-related-nav__item">
        <a class="nhsuk-related-nav__link" href="#">Get support</a></li>

    </ul>

  </nav>

</div>

{% endblock %}
