{% extends 'layouts/layout-nhsuk-full-width.html' %}

{% block pageTitle %}
  general_content_index
{% endblock %}

{% block content_page_heading %}

  <h1>About us</h1>

{% endblock %}

{% block content_full_width %}

<div class="nhsuk-grid-row nhsuk-promo-group">
          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            
<div class="nhsuk-promo">
  <a class="nhsuk-promo__link-wrapper nhsuk-promo__link-wrapper--mute" href="/pages/general/general_content_article">
    <div class="nhsuk-promo__content">
      <h3 class="nhsuk-promo__heading">About the NHS website</h3>
      <p class="nhsuk-promo__description">Find out about the award-winning NHS website</p>
    </div>
  </a>
</div>

          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            
<div class="nhsuk-promo">
  <a class="nhsuk-promo__link-wrapper nhsuk-promo__link-wrapper--mute" href="/pages/general/general_content_article">
    <div class="nhsuk-promo__content">
      <h3 class="nhsuk-promo__heading">NHS website datasets</h3>
      <p class="nhsuk-promo__description">Read about how the NHS website makes data available</p>
    </div>
  </a>
</div>


          </div>
        </div>


{% endblock %}
