<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Wagtail frontend test
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Wagtail frontend test
      </h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-two-thirds">

      <h2>Layouts</h2>

      <ul>
        <li>
          <a href="/layouts/layout-nhsuk-full-width">Full width</a>
        </li>
        <li>
          <a href="/layouts/layout-nhsuk-two-columns-right">Two columns right</a>
        </li>
        <li>
          <a href="/layouts/layout-nhsuk-two-columns-left">Two columns left</a>
        </li>
      </ul>

      <h2>Wagtail pages</h2>

      <ul>
        <li>
          <a href="/pages/General_Page">General_Page</a>
        </li>
      </ul>

      <h3 class="nhsuk-heading-xs">Behind the headlines</h3>

      <ul>
        <li>
          <a href="/pages/behind_the_headlines/Behind_the_Headlines_Section_HomePage">Behind_the_Headlines_Section_HomePage</a>
        </li>
        <li>
          <a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Behind_the_Headlines_Category_Page</a>
        </li>
        <li>
          <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Behind_the_Headlines_Page</a>
        </li>
      </ul>

      <h3 class="nhsuk-heading-xs">Common health questions</h3>
      
      <ul>
        <li>
          <a href="/pages/common_health_questions/CHQ_Section_HomePage">CHQ_Section_HomePage</a>
        </li>
        <li>
          <a href="/pages/common_health_questions/CHQ_Topic_Page">CHQ_Topic_Page</a>
        </li>
        <li>
          <a href="/pages/common_health_questions/CHQ_Question_Page">CHQ_Question_Page</a>
        </li>
      </ul>

      <h3 class="nhsuk-heading-xs">Conditions</h3>
      
      <ul>
        <li>
          <a href="/pages/conditions/Conditions_Section_HomePage">Conditions_Section_HomePage</a>
        </li>
        <li>
          <a href="/pages/conditions/conditions_curated_hub_page">conditions_curated_hub_page</a>
        </li>
        <li>
          <a href="/pages/conditions/conditions_article_page">conditions_article_page</a>
        </li>
        <li>
          <a href="/pages/conditions/Condition_Page">Condition_Page</a>
        </li>
        <li>
          <a href="/pages/conditions/Condition_Page_Section">Condition_Page_Section</a>
        </li>
      </ul>

      <h3 class="nhsuk-heading-xs">General</h3>
      
      <ul>
        <li>
          <a href="/pages/general/general_content_index">general_content_index</a>
        </li>
        <li>
          <a href="/pages/general/general_content_article">general_content_article</a>
        </li>
      </ul>

      <h3 class="nhsuk-heading-xs">Guides and Live Well</h3>
      
      <ul>
        <li>
          <a href="/pages/guides/Guide_Page_Section">Guide_Page_Section</a>
        </li>
        <li>
          <a href="/pages/guides/Guide_Page">Guide_Page</a>
        </li>
        <li>
          <a href="/pages/guides/guides_article">guides_article</a>
        </li>
        <li>
          <a href="/pages/guides/guides_index">guides_index</a>
        </li>
        <li>
          <a href="/pages/guides/Livewell_Page_Section">Livewell_Page_Section</a>
        </li>
        <li>
          <a href="/pages/guides/Livewell_Page">Livewell_Page</a>
        </li>
        <li>
          <a href="/pages/guides/Livewell_Section_HomePage">Livewell_Section_HomePage</a>
        </li>
      </ul>

      <h3 class="nhsuk-heading-xs">Medicines</h3>
      
      <ul>
        <li>
          <a href="/pages/medicines/medicines__page">medicines__page</a>
        </li>
        <li>
          <a href="/pages/medicines/Medicines_Section_HomePage">Medicines_Section_HomePage</a>
        </li>
      </ul>

      <h3 class="nhsuk-heading-xs">NDOP</h3>
      
      <ul>
        <li>
          <a href="/pages/ndop/NDOP_Page">NDOP_Page</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
