<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Wagtail frontend test
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Wagtail frontend test
      </h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-one-half">

      <h2>Wagtail pages</h2>

      <h3 class="nhsuk-heading-xs">Behind the headlines</h3>

      <ul>
        <li>
          <a href="/pages/behind_the_headlines/Behind_the_Headlines_Section_HomePage">Behind_the_Headlines_Section_HomePage</a>
        </li>
        <li>
          <a href="/pages/behind_the_headlines/Behind_the_Headlines_Category_Page">Behind_the_Headlines_Category_Page</a>
        </li>
        <li>
          <a href="/pages/behind_the_headlines/Behind_the_Headlines_Page">Behind_the_Headlines_Page</a>
        </li>
      </ul>

      <h3 class="nhsuk-heading-xs">Common health questions</h3>
      
      <ul>
        <li>
          <a href="/pages/common_health_questions/CHQ_Section_HomePage__desktop">CHQ_Section_HomePage__desktop</a>
        </li>
        <li>
          <a href="/pages/common_health_questions/CHQ_Topic_Page__desktop">CHQ_Topic_Page__desktop</a>
        </li>
        <li>
          <a href="/pages/common_health_questions/CHQ_Question_Page__desktop">CHQ_Question_Page__desktop</a>
        </li>
      </ul>

      <h3 class="nhsuk-heading-xs">Conditions</h3>
      
      <ul>
        <li>
          <a href="/pages/conditions/Condition_Page__desktop">Condition_Page__desktop</a>
        </li>
        <li>
          <a href="/pages/conditions/Condition_Page_Section__desktop">Condition_Page_Section__desktop</a>
        </li>
        <li>
          <a href="/pages/conditions/conditions_article_page__desktop">conditions_article_page__desktop</a>
        </li>
        <li>
          <a href="/pages/conditions/conditions_curated_hub_page__desktop">conditions_curated_hub_page__desktop</a>
        </li>
        <li>
          <a href="/pages/conditions/Conditions_Section_HomePage__desktop">Conditions_Section_HomePage__desktop</a>
        </li>
      </ul>

    </div>
    
    <div class="nhsuk-grid-column-one-half">

      <h2>Layouts</h2>

      <ul>
        <li>
          <a href="/layouts/layout-nhsuk-full-width">Full width</a>
        </li>
        <li>
          <a href="/layouts/layout-nhsuk-two-columns-right">Two columns right</a>
        </li>
        <li>
          <a href="/layouts/layout-nhsuk-two-columns-left">Two columns left</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
