{% extends 'layouts/layout-nhsuk.html' %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-u-reading-width">

        {% block content_page_heading %}
        
          <div class="layout-example">

            <h1>Full width page layout</h1>

            <p class="nhsuk-lede-text">Reading width container (for page heading and lede text)</p>
            
          </div>
        
        {% endblock %}

      </div>

      <article>

        {% block content_full_width %}

          <div class="layout-example">

            Full width column (for page content)

          </div>
        
        {% endblock %}

      </article>

    </div>
  </div>

{% endblock %}
