{% extends 'layouts/layout-nhsuk.html' %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% block content_page_heading %}
      
        <div class="layout-example">

          <h1>Full width page layout</h1>

          <p class="nhsuk-lede-text">Two thirds column (for page heading and lede text)</p>
          
        </div>
      
      {% endblock %}

    </div>
  </div>

  <aside class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% block content_full_width %}

        <div class="layout-example">

          Full width column (for page content)

        </div>
      
      {% endblock %}

    </aside>
  </div>

{% endblock %}
